@import url('https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
  --brand-experiment: rgb(200, 140, 170);
  --brand-experiment-500: rgb(170, 110, 140);
  --brand-experiment-560: var(--brand-experiment);
  --brand-experiment-600: var(--brand-experiment-500);
  --control-brand-foreground: var(--brand-experiment);
  --background-accent: rgb(200, 60, 100);
  --local-bot-side: var(--background-accent);
  --selection-col: rgb(94, 94, 95, 0.5);
  --scrollbar-auto-scrollbar-color-thumb: var(--primary-730);
  --scrollbar-auto-scrollbar-color-track: var(--primary-630);
  --scrollbar-auto-thumb: var(--bg-3);
  --scrollbar-auto-track: transparent;
  --scrollbar-thin-thumb: var(--bg-3);
  --scrollbar-thin-track: transparent;
  --bg-clear: rgba(0, 0, 0, 0);
  --bg-black: rgb(0, 0, 0);
  --bg-1: rgb(8, 8, 9);
  --bg-2: rgb(16, 16, 17);
  --bg-3: rgb(21, 21, 22);
  --bg-4: rgb(10, 10, 11);
  --bg-5: rgba(10, 10, 11, 0.7);
  --test: rgb(255, 0, 255);
  --min: rgb(249, 226, 175);
  --max: rgb(166, 227, 161);
  --close: rgb(243, 139, 168);
  --accent-1: rgb(83, 201, 224);
  --accent-2: rgb(54, 182, 207);
  --accent-3: rgb(53, 156, 177);
  --accent-4: rgb(50, 149, 168);
  --accent-5: rgb(32, 119, 136);
  --text-1: rgb(205, 214, 244);
  --text-2: rgb(166, 173, 200);
  --text-3: rgb(147, 153, 178);
  --text-4: rgb(108, 112, 134);
  --text-5: rgb(88, 91, 112);
  --mention: rgba(89, 144, 175, 0.1);
  --mention-hover: rgba(112, 200, 218, 0.05);
  --hover: rgba(82, 88, 122, 0.1);
  --active: rgba(82, 95, 122, 0.2);
  --message-hover: rgba(0, 0, 0, 0.1);
  --roundness-xl: 16px;
  --roundness-l: 12px;
  --roundness-m: 10px;
  --roundness-s: 8px;
  --roundness-xs: 4px;
  /* animations, can be disabled with reduced motion */
  /* moon icon spin */
  --moon-spin-transition: 0.4s ease;
  /* top left icon, block to show, none to hide */
  --default-icon: none;
  --moon-icon: block;
  --moon-icon-url: url('https://refact0r.github.io/midnight-discord/assets/Font_Awesome_5_solid_moon.svg');
  --moon-icon-size: auto;
  /* top left text */
  --corner-text: 'n o m i n a l';
  /* font, default is 'gg sans' */
  --font: 'figtree';
  --font-primary: var(--font), 'Noto Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  --font-display: var(--font), 'Noto Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

/* reduced motion */
:root.reduce-motion {
  --moon-spin-transition: none;
}

html.theme-light,
.theme-dark {
  /* behind chat */
  --background-primary: var(--bg-4);
  /* channel list, user list, open folders */
  --background-secondary: var(--bg-2);
  /* sidebar user panel */
  --background-secondary-alt: var(--bg-1);
  /* top and left wraparound */
  --background-tertiary: var(--bg-3);
  --background-accent: var(--bg-2);
  /* hover tooltips, uncustomized user popout */
  --background-floating: var(--bg-1);
  --background-mentioned: var(--mention);
  --background-mentioned-hover: var(--mention-hover);
  --background-message-highlight: var(--active);
  --background-message-highlight-hover: var(--hover);
  --background-message-hover: var(--message-hover);
  /* divider lines */
  --background-modifier-accent: var(--bg-2);
  --background-modifier-active: var(--active);
  --background-modifier-hover: var(--hover);
  --background-modifier-selected: var(--active);
  --brand-430: var(--accent-3);
  /* accent-3 */
  --brand-500: var(--brand-experiment);
  /* accent-4 */
  --brand-560: var(--brand-experiment-500);
  --brand-600: var(--accent-5);
  /* background of reacted reactions */
  --brand-experiment-15a: var(--mention);
  --channel-icon: var(--text-4);
  --channel-text-area-placeholder: var(--text-5);
  --channels-default: var(--text-4);
  /* main text field */
  --channeltextarea-background: var(--bg-2);
  --control-brand-foreground: var(--accent-2);
  --header-primary: var(--text-2);
  --header-secondary: var(--text-4);
  --home-background: var(--bg-4);
  --input-background: var(--bg-3);
  --input-placeholder-text: var(--text-5);
  --interactive-active: var(--text-2);
  --interactive-hover: var(--text-2);
  --interactive-muted: var(--text-4);
  --interactive-normal: var(--text-3);
  --mention-background: var(--mention);
  --mention-foreground: var(--accent-1);
  --modal-background: var(--bg-3);
  --modal-footer-background: var(--bg-4);
  --text-brand: var(--accent-1);
  --text-link: var(--accent-1);
  --text-muted: var(--text-5);
  --text-normal: var(--text-3);
}

/* top bar title i */
[class^='wordmarkWindows'] {
  padding: 6px var(--roundness-l);
}

/* top bar title ii */
[class^='wordmarkWindows']::after {
  content: var(--corner-text);
  display: block;
  position: relative;
  font: 11px var(--font);
  font-weight: 700;
  color: var(--text-5);
  transform: scaleX(1.1);
  margin-left: 2px;
}

/* top bar height */
[class^='typeWindows'] {
  height: calc(var(--roundness-l) + 8px);
}

/* window controls i */
[class^='winButton'] {
  background: none !important;
  top: 0;
  width: calc(var(--roundness-l) + 8px);
  height: calc(var(--roundness-l) + 8px);
  margin: -2px 4px 0px 0px;
}

/* window controls ii */
[class^='winButton']::after {
  content: '';
  height: var(--roundness-l);
  width: var(--roundness-l);
  border-radius: var(--roundness-l);
}

/* window controls iii */
[class^='winButton']:hover::after {
  filter: brightness(0.8);
}

/* window controls iv */
[class^='winButton']:active::after {
  transform: scale(0.9);
}

/* window controls v */
[class^='winButtonClose'] {
  margin: -2px calc(var(--roundness-l) - 4px) 0px 0px;
}

/* window controls, minimize */
[class^='winButtonMinMax']:nth-child(4)::after {
  background-color: var(--min) !important;
}

/* window controls, maximize */
[class^='winButtonMinMax']:nth-child(3)::after {
  background-color: var(--max) !important;
}

/* window controls, close */
[class^='winButtonClose']::after {
  background-color: var(--close) !important;
}

/* moon i */
.childWrapper__6e9f8>svg:not(.favoriteIcon_dcc7a4) {
  display: var(--default-icon);
}

/* moon ii */
.childWrapper__6e9f8:has(> svg:not(.favoriteIcon_dcc7a4))::before {
  content: '';
  display: var(--moon-icon);
  position: absolute;
  width: 65%;
  height: 65%;
  background: var(--text-4);
  -webkit-mask-image: var(--moon-icon-url);
  -webkit-mask-size: var(--moon-icon-size);
  -webkit-mask-repeat: none;
}

/* moon iii */
.wrapper__6e9f8:hover .childWrapper__6e9f8::before {
  transition: background-color 0.15s ease-out, transform var(--moon-spin-transition);
  transform: rotate(0deg) scale(1);
}

/* moon iv */
.wrapper__6e9f8:hover>.childWrapper__6e9f8::before,
.wrapper__6e9f8.selected__6e9f8>.childWrapper__6e9f8::before {
  background: var(--text-1);
  transform: rotate(-360deg) scale(0.8);
}

/* text selection */
::selection {
  background: var(--selection-col);
  color: var(--text-1);
}

/* toggle buttons i */
div[class*="checked"] {
  background-color: var(--brand-experiment-500) !important;
}

/* toggle buttons ii */
svg[class^="slider"] path {
  fill: var(--brand-experiment-560);
}

/* my account */
[class^="accountProfileCard"] {
  background: var(--bg-4);
}

/* symbols */
[class^="autocomplete"] {
  background: var(--bg-black);
  border-radius: var(--roundness-s);
}

/* browse channels container, header, inner */
#app-mount .container_f1fd9c,
#app-mount .header_f1fd9c,
#app-mount .container_c2efea {
  background-color: var(--bg-1);
}

/* sidebar user panel */
[class^="sidebar"] section[class^="panels"] {
  margin: var(--roundness-s);
  padding: 3px;
  border-radius: var(--roundness-l);
}

/* sidebar user panel, align icon trio */
[class^="sidebar"] section[class^="panels"] [class^="avatarWrapper"] {
  min-width: 104px;
  margin-right: 2px;
}

/* sidebar call, voice/video connected text */
[class^="sidebar"] section[class^="panels"] [class^="labelWrapper"] [class*="contents"] {
  font-size: var(--roundness-l);
}

/* sidebar call, action buttons */
[class^="sidebar"] section[class^="panels"] [class^="actionButtons"] [class*="contents"] {
  width: 18px;
}

/* backdrop blur */
[class^="backdrop"]+[class^="layer"] {
  backdrop-filter: blur(var(--roundness-xs));
}

/* right click menu blur when backdrop is active */
[class^="backdrop"]~[class*="layer"]>[class^="menu"]::before {
  content: "";
  position: absolute;
  inset: 0;
  z-index: 0;
  backdrop-filter: blur(var(--roundness-xl));
  border-radius: var(--roundness-m);
}

/* right click menu */
[class^="menu"],
[class^="submenu"] {
  background: var(--bg-5);
  border-radius: var(--roundness-m);
}

/* message actions menu */
[class^="menu"]::after,
[class^="submenu"]::after {
  content: "";
  position: absolute;
  inset: 0;
  z-index: -1;
  backdrop-filter: blur(var(--roundness-xl));
  border-radius: var(--roundness-m);
}

/* no blur on sidebar profile popout */
[class^="userPopoutOuter"] *::after {
  backdrop-filter: none !important;
}

/* status changer popout */
[class^="userPopoutOuter"] [aria-label="Set Status"] [class^="submenu"]::before {
  content: "";
  position: absolute;
  inset: 0;
  z-index: 0;
  backdrop-filter: blur(var(--roundness-xl));
  border-radius: var(--roundness-s);
}

/* right click menu on emoji */
[class^="positionLayer"]~[class*="layer"]>[class^="menu"]::before {
  content: "";
  position: absolute;
  inset: 0;
  z-index: 0;
  backdrop-filter: blur(var(--roundness-xl));
  border-radius: var(--roundness-m);
}

[class*="clickableSticker"]>div[aria-label]::after {
  content: "A sticker was hidden.";
  color: var(--text-4);
  font-weight: 500;
}

/* less obnoxious super reactions i */
img.emoji {
  opacity: 100;
}

div[class*="shakeReaction"] {
  animation: none !important;
}

/* annoyances cleanup */
/* less obnoxious super reactions ii */
div[class^="effectsWrapper"],
/* top help button */
[href="https://support.discord.com"],
/* top user profile button (unavailable) */
[aria-label*="Show User Profile (Unavailable)"],
/* shop tabs */
[href="/store"],
[href="/shop"],
/* dm list & settings search bar */
nav div[class^="searchBar"],
/* welcome stickers */
[class*="welcomeCTA"],
[class*="clickableSticker"]>div[aria-label]>[class*="assetWrapper"],
/* profile settings, new styles shop banner */
[class*="container_da1432"],
/* profile settings, avatar decoration button, both tabs */
[class*="sectionsContainer_b45d91"]>[class*="customizationSection_b3a5c2"]:nth-of-type(4),
[class*="sectionsContainer_e466c8"]>[class*="customizationSection_b3a5c2"]:nth-of-type(4),
/* profile settings, profile effect button, both tabs */
[class*="sectionsContainer_b45d91"]>[class*="customizationSection_b3a5c2"]:nth-of-type(5),
[class*="sectionsContainer_e466c8"]>[class*="customizationSection_b3a5c2"]:nth-of-type(5),
/* chat gift button */
button[aria-label*="Send a gift"],
/* chat gif button */
button[aria-label*="Open GIF picker"],
/* chat sticker button */
button[aria-label*="Open sticker picker"],
/* chat apps button */
[class^="channelAppLauncher"],
/* activity button, call */
[class*="buttonContainer_b6e2f9"],
/* activity button, sidebar */
button[aria-label*="Start An Activity"],
/* "new" dot on activity button */
[class*="dot_ccd671 maskSecondary_ccd671"],
/* "new" dot on activity button 2 electric boogaloo */
[class*="dot_ccd671 maskBlack_ccd671"],
/* server discovery */
div[class*="listItem"]:has(div[aria-label="Discover"]),
/* paid avatar crap, & in messages */
svg[class^="avatarDecoration"],
img[class^="avatarDecoration"],
/* paid profile crap */
[class^="profileEffects"],
/* paid banner, needs fix: [class*="bannerSVGWrapper"] > mask > image, */
/* settings merch button */
div[aria-label="Merch"],
/* settings social buttons */
[class^="socialLinks"],
/* custom emoji note */
div[class^="nitroTextAndBadge"],
div[class^="tooltipPremiumContent"],
/* default corner text & window controls */
[class^="wordmarkWindows"]>svg,
[class^="winButton"]>svg {
  display: none;
}